# Importing Required Iibs

In [11]:
import pandas as pd

# Reading data and Generating a DataFrame

In [3]:
df = pd.read_csv('../data/pashto-stopwords.txt', delimiter="\n", encoding="utf-8")

In [12]:
#Display Records
df.head(10)

    word
0     په
1      د
2     دی
3   ددی
4     او
5     یو
6     له
7    بل
8  له بل
9     نه

In [13]:
#Some Stats
df.describe()

       word
count   423
unique  407
top      دا
freq      3

# Storing DataFrame to Different Format

In [14]:
df.to_csv('pashto-stopwords.csv')

In [15]:
df.to_json('pashto-stopwords.json')

In [16]:
df.to_excel('pashto-stopwords.xls')

In [17]:
df.to_pickle('pashto-stopwords.pickle')